[Unit]
Description=Mongo Backup System Agent
After=docker.service

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStartPre=-/usr/bin/docker pull ulexus/mms-backup
ExecStart=/usr/bin/docker run --rm --name %p \
   -e MMS_API_KEY=MyMMSAPIKey1234 \
   ulexus/mms-backup
ExecStopPost=-/usr/bin/docker stop %p
ExecStopPost=-/usr/bin/docker rm %p
Restart=always
RestartSec=10s
TimeoutStartSec=120
TimeoutStopSec=15
